<div class="twig_template">
<h2>{{heading}}</h2>
{# {{ dump(_ENV.vars.body) }} #}
{% if _ENV.vars.body %}
{{ body }}
{% else %}
<p><code>body</code> は入力されていません。</p>
{% endif %}

<div class="twig_template-include">
{{include_main}}
</div>

<div class="twig_template-include">
{{select}}
</div>

<div class="twig_template-loop">
{% for loopRow in loop %}
{{ loopitem_start('loop') }}
<div>
    <div>{{ loopRow.text1 }}</div>
    <div>{{ loopRow.text2 }}</div>
    {# {{dump(loopRow.text2)}} #}
</div>
{{ loopitem_end() }}
{% endfor %}
{{ appender('loop') }}


{# {{dump(loop)}}
{{ loop[2].text1 }} #}
</div>

<div class="twig_template-loop2">
{% for loop2Row in loop2 %}
{{ loopitem_start('loop2') }}
<div>
    <div>{{ loop2Row.include_loop2_sub }}</div>
</div>
{{ loopitem_end() }}
{% endfor %}
{{ appender('loop2') }}
</div>

{%if _ENV.mode=="canvas"%}
<div class="twig_template-is_canvas">これは編集画面にしか表示されない要素です。</div>
{%endif%}

<div>Getting extra data: {{ _ENV.extra.foo }}</div>

</div>
