<div class="twig_template">
<h2>{{heading}}</h2>
{{body}}

<div class="twig_template-include">
{{include_main}}
</div>

<div class="twig_template-include">
{{select}}
</div>

<div class="twig_template-loop">
{{ loopitem_start('loop') }}
{% for loopRow in loop %}
{{dump(loopRow.text2)}}
<p>{{loopRow.text1}}</p>
{{ loopitem_end() }}
{% endfor %}
{{ appender('loop') }}


{{dump(loop)}}
{{ loop[2].text1 }}
</div>

{%if _ENV.mode=="canvas"%}
<div class="twig_template-is_canvas">これは編集画面にしか表示されない要素です。</div>
{%endif%}

</div>
