<div class="dropdown" id="{{ Dropdown_id }}">
	<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
		{{ Dropdown_name }}
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu">
		<!-- {{ dump(Dropdown_loop) }} -->
		{% for row in Dropdown_loop %}
			<li role="presentation">{{ dump(row) }}</li>
		{% endfor %}
	</ul>
</div><!-- / #{{ Dropdown_id }} -->
