<div>
    <p>
        内部の処理では <code>testMod1:unit/module_id_fake_3</code> として扱われるのが正しい。<br />
    </p>
    <div>{{ text }}</div>
    <div><img src="{{ image }}" alt="" /></div>
    <div>{{ module }}</div>

{% for loopRow in loop %}
    {{ loopitem_start('loop') }}
    <div>
        <div>{{ loopRow.text_in_loop }}</div>
        <div><img src="{{ loopRow.image_in_loop }}" alt="" /></div>
        <div>{{ loopRow.module_in_loop }}</div>
    </div>
    {{ loopitem_end() }}
{% endfor %}
{{ appender('loop') }}
</div>
